@IMPORT url("main.css");

header {
  border: none;
  background: #0B3E6F;
  position: relative;
  margin-top: 0px;
  padding: 10px;
  overflow: hidden;
}

header h2 {
  border: none;
  color: #FFFFFF;
  float: left;
  margin: 0px;
}

header h2 .title {
    font-size: 0.7em;
}

header img {
  border: none;
  float: right;
  max-height: 30px;
}




